.Login {
    margin: auto;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 30%;
    background-color: #f8ffe4;
    height: 75%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: #3e3e40;
    border: black solid 2px;
}

.Login .input {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
}

.Login .logo {
    position: absolute;
    width: 30%;
    top: -250%;
    left: 35%;
}

.Login .input .button {
    position: absolute;
    bottom: -200%;
    right: 20%;
}

.Login .input .user {
    display: inline-block;
}

.Login .input .user img {
    display: inline-block;
    position: absolute;
    margin-top: 2%;
}

.Login .input .user input {
    display: inline-block;
    padding-left: 30px;
}