.dictionaryTable {
    max-height: 90%;
    position: absolute;
    top: 10%;
    left: 0;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
}

.tableWithScroll {
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #ededed;
}

.pinnedTable {
    float: left;
    background-color: #F0FFD1;
}