table {
    display: table;
}
table tr {
    display: table-cell;
    color: black;
}
table tr td {
    display: block;
}

.column {
    min-width: 0.5%;
    max-width: 200px;
    border: 2px solid #000000;
    border-left: hidden;
    border-bottom: hidden;
    position: relative;
    top: -100%;
    display: inline-block;
    left: 0;
}

.column.selected {
    background-color: #F0FFD1;
}

.column .colHeader {
    border-bottom: 2px solid #000000;
    font-weight: bold;
}

.column .colHeader img {
    float: right;
    position: relative;
    top: 5px;
    right: 4px;
    margin-left: 5px;
}

.column .colHeader img:hover {
    background-color: #928f91;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}